<h2>{{ isEdit ? 'Edit Patient' : 'Create Patient' }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form">

  <label>
    First name
    <input type="text" formControlName="firstName">
  </label>
  <small class="err" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid">
    First name is required (min 2 chars).
  </small>

  <label>
    Last name
    <input type="text" formControlName="lastName">
  </label>
  <small class="err" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid">
    Last name is required (min 2 chars).
  </small>

  <label>
    Email
    <input type="email" formControlName="email">
  </label>
  <small class="err" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
    Enter a valid email.
  </small>

  <label>
    Phone
    <input type="text" formControlName="phone">
  </label>
  <small class="err" *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
    Phone is required.
  </small>

  <div class="error" *ngIf="error">{{ error }}</div>

  <div class="actions">
    <button type="submit" [disabled]="loading">
      {{ loading ? 'Saving...' : 'Save' }}
    </button>

    <button type="button" (click)="cancel()" [disabled]="loading">
      Cancel
    </button>
  </div>
</form>
